* {
    margin: 0;
}

.header {
    background-color: #202020;
    height: 56px;
    display: flex;
    justify-content: space-between;
}

.yt-icon {
    height: 20px;
    width: 90px;
}

#youtube-paths {
    fill: white;
}

#hamburger-menu {
    fill: white;
}

.h-left {
    display: flex;
    padding: 15px 0;
}

.h-center {
    display: flex;
    align-items: center;
}

#search-box {
    height: 40px;
    background-color: #121212;
    border: solid #323232 1px;
    padding-left: 1ch;
    outline: none;
    color: hsla(0, 100%, 100%, 0.88);
    outline: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-left: 4px;
    width: 100%;
    box-shadow: none;
    font-family: 'Roboto','Noto',sans-serif;
}

#search-box:focus {
    border: solid #2196f2 1px;
    /* border-color: #2196f2; */

}

#search-button {
    height: 40px;
    width: 64px;
    border-radius: 0;
    outline: none;
    border: none;
    background-color: #323232;
    fill: white;
    padding-left: 18px;
}

